 @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: "Roboto", sans-serif;
}
.navbar{
    display:flex;
    flex-flow: row wrap;
    height:100px;
    background:  #2b468b;
    justify-content:center;
    align-items:center;
    position:fixed;
    width:100%;
}
.logo{
    flex:20%;
    text-align:left;
    margin-left:10%;
}
.logo h1{
    font-family: "Lobster", sans-serif;
    color:orange;
    font-size:34px;
}
.menu{
   flex:70%;
   text-align:right;
   padding:40px;
}
.menu a{
    color:orange;
    text-decoration:none;
    font-size:20px;
    padding: 20px 16px;
}
.menu a:hover{
    color:rgb(244, 244, 244);
    border-top:4px solid#ef4c4f;
    
}
#botao{
    background:white;
    border-radius:5px;
    padding:10px 25px;
    color:orange;
    margin-right: 10%;
    margin-left:5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#botao:hover{
    border:none;
    background:#ef4c4f;
}
.header{
    height:600px;
    background:white;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top:100px;
}
.headline{
    flex:40%;
    margin-left:10%;
}
.headline p{
    color:gray;
    text-align: left;
}
.contact-btn{
   background:#2b468b;
   border: 1px solid black;
   border-radius:5px;
   text-decoration:none;
   color:orange;
   padding:10px 5px;
   text-transform:uppercase;
   display:inline-block;
}
.contact-btn:hover{
    background:#ef4c4f;
}
.headline h2{
    font-weight:900;
    font-size:20px;
    color:orange;
    padding:0;
    margin:0;
}
.img-headline{
    margin-right:10%;
    flex:40%;
    align-items: center;
    justify-content: center;
    align-items: center;
    
}
.img-headline img{
   width: 120%;
    height: 150%;
}
section{
    margin-top:5px;
    margin-left:5%;
    margin-right:5%;
    display:inline-block;
    padding:5%;
    text-align: center;
}
section h3{
    width:100%;
    color:orange;
    font-size: 50px;
    margin:0;
    font-family: "Lobster", sans-serif;
    font-weight: bold;

}
.servicos{
    display:inline-block;
    margin-top:5%;
}
.card{
    display:inline-block;
    padding:20px;
    width:30%;
    margin:1%;
    border: 1px solid orange;
    border-radius:10px;
    cursor:pointer;
}
.card:hover{
  background:#ef4c4f;
  padding:40px;
  color:white;
}
.card:hover img{
    display:none;
}
.card:hover .card-text{
    display:none;
}
.card:hover .texto-oculto{
    display:block;
}
.texto-oculto{
    display:none;
}
footer{
    margin-top:100px;
    border: 1px solid black;
    height:400px;
    background-image:linear-gradient(180deg,#2b468b,#03143d,#000000);
    text-align:center;
    border-top: 5px solid orange;
}
.rodape{
    padding:100px;
}
.mercadona{
    font-family: "Lobster", sans-serif;
    color: white;
    font-size:34px;
}
.wpp{
  position:fixed;
  bottom:5px;
  right:5px;
  width:100px;

}