@media screen and (max-width:1005px){
    .navbar{
        position:relative;
    }
    .menu{
        display:none;
    }
    .logo{
        margin:0;
        text-align: center;
    }
    .header{
        height: auto;
        padding-top:50px;
        padding: 20px 0;
    }
    .headline{
        flex:100%;
        margin: 5%;
        text-align: center;
    }
    .headline p{
        text-align: center;
    }
    .img-headline{
        flex:50%;
        text-align: center;
        margin:5%;
    }
    .wpp{
        display:none;
    }
    .card{
        width:100%;
    }
}
    
