@media screen and (max-width: 1005px) {
    body, html {
        overflow-x: hidden;
    }

    .navbar {
        height: auto;
        padding: 10px 0;
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .header {
        height: auto;
        flex-direction: column;
        padding: 30px 0;
        width: 100%;
    }

    .headline {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }

    .headline h2 {
        font-size: 32px;
    }

    .headline p {
        text-align: center;
        padding: 0 10px;
    }

    .img-headline {
        width: 100%;
        margin: 20px 0 0 0;
        text-align: center;
    }

    .img-headline img {
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    section {
        padding: 5% 0;
        width: 100%;
    }
    
    .servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 90%;
        margin: 15px auto;
        box-sizing: border-box;
    }

    .wpp {
        display: none;
    }
}
